<div *ngIf="!initFinished; else content" class="spinner-container">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</div>

<ng-template #content>
  <mat-drawer-container [hasBackdrop]="false">
    <mat-drawer #drawer [opened]="true" mode="side">
      <div class="flex-container">
        <button (click)="drawer.toggle()" class="close-button">&times;</button>

        <img class="logo" src="assets/logo.png">

        <mat-card *ngIf="shouldShowFilterCards()">
          <mat-button-toggle-group (change)="onCurrentModeChange()" [(ngModel)]="viewMode">
            <mat-button-toggle *ngFor="let key of viewModeKeys"
                               [value]="viewModeClassReference[key]">{{viewModeClassReference[key].displayName}}</mat-button-toggle>
          </mat-button-toggle-group>
        </mat-card>

        <mat-card *ngIf="shouldShowFilterCards()">
          <mat-form-field color="primary">
            <mat-label>Select GitHub repositories</mat-label>
            <mat-select (selectionChange)="onSelectChanged($event)" [(ngModel)]="selectedRepoNames" [multiple]="true">
              <mat-option *ngFor="let key of allRepoNames" [value]="key">{{key}}</mat-option>
            </mat-select>
          </mat-form-field>

          <button (click)="onSelectAllClicked()"
                  color="primary"
                  mat-raised-button>
            Select all
          </button>

          <button (click)="onDeselectAllClicked()"
                  color="primary"
                  mat-raised-button>
            Deselect all
          </button>
        </mat-card>

        <mat-card *ngIf="shouldShowFilterCards()">
          <mat-form-field>
            <mat-label>Top n repos</mat-label>
            <input [(ngModel)]="topNRepos" [max]="allRepoNames.length" matInput min="1">
            <mat-hint *ngIf="!isValidBestReposN()" class="text-danger">Enter a
              number
              between 1 and {{allRepoNames.length}}</mat-hint>
          </mat-form-field>

          <span *ngIf="selectedRepoNames.length !== +topNRepos"
                class="warning-filter">Filter is currently not applied!</span>

          <button (click)="filterBestNRepos()" [disabled]="!isValidBestReposN()" color="primary" mat-raised-button>
            Filter
          </button>
        </mat-card>


        <mat-card>
          <mat-form-field>
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [max]="MAX_DATE" [min]="MIN_DATE" [rangePicker]="picker">
              <input [(ngModel)]="fromDate"
                     matStartDate
                     placeholder="From date"
                     readonly>
              <input [(ngModel)]="toDate" matEndDate placeholder="To date" readonly>
            </mat-date-range-input>
            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
            <mat-date-range-picker #picker touchUi></mat-date-range-picker>
          </mat-form-field>

          <button (click)="this.loadDataAndInit()" color="primary" mat-raised-button>Filter</button>
        </mat-card>

        <mat-card>
          <button (click)="this.restoreDefaults()" color="primary" mat-raised-button>Restore defaults</button>
        </mat-card>
      </div>
    </mat-drawer>

    <mat-drawer-content>
      <button (click)="drawer.toggle()" *ngIf="!drawer.opened" class="menu-button" color="primary" mat-mini-fab>
        <mat-icon>menu</mat-icon>
      </button>
      <div *ngIf="statsMappedByRepository.size > 0; else no_data_text" class="chart-container">
        <canvas [chartType]="'line'"
                [datasets]="chartData"
                [labels]="chartLabelsXAxis"
                [options]="chartOptions"
                baseChart
        ></canvas>
      </div>
      <ng-template #no_data_text>
        <div class="no-data-text">
          <h1>Oooopss... no data was found for the selected range!</h1>
          <p>You can't use filters without any data, so go try another range!</p>
        </div>
      </ng-template>
    </mat-drawer-content>
  </mat-drawer-container>
</ng-template>
