<div class="spinner-container" *ngIf="!initFinished; else content">
  <mat-progress-spinner
    mode="indeterminate"
    color="primary">
  </mat-progress-spinner>
</div>

<ng-template #content>
  <mat-drawer-container [hasBackdrop]="false">
    <mat-drawer [opened]="true" #drawer mode="side">
      <div class="flex-container">
        <button class="close-button" (click)="drawer.toggle()">&times;</button>

        <img class="logo" src="assets/logo.png">

        <mat-card *ngIf="shouldShowFilterCards()">
          <mat-button-toggle-group name="view" [(ngModel)]="currentMode" (change)="onCurrentModeChange()">
            <mat-button-toggle value="count">Total views</mat-button-toggle>
            <mat-button-toggle value="uniques">Unique views</mat-button-toggle>
          </mat-button-toggle-group>
        </mat-card>

        <mat-card *ngIf="shouldShowFilterCards()">
          <mat-form-field color="primary">
            <mat-label>Select GitHub repositories</mat-label>
            <mat-select (selectionChange)="onSelectChanged($event)" [(ngModel)]="selectedRepos" [multiple]="true">
              <mat-option *ngFor="let key of allRepos" [value]="key">{{key}}</mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-raised-button
                  color="primary"
                  (click)="onSelectAllClicked()">
            Select all
          </button>

          <button mat-raised-button
                  color="primary"
                  (click)="onDeselectAllClicked()">
            Deselect all
          </button>
        </mat-card>

        <mat-card *ngIf="shouldShowFilterCards()">
          <mat-form-field>
            <mat-label>Top n repos</mat-label>
            <input [(ngModel)]="bestReposN" min="1" [max]="allRepos.length" matInput>
            <mat-hint class="text-danger" *ngIf="!isValidBestReposN()">Enter a
              number
              between 1 and {{allRepos.length}}</mat-hint>
          </mat-form-field>

          <button mat-raised-button [disabled]="!isValidBestReposN()" color="primary" (click)="filterBestNRepos()">
            Filter
          </button>
        </mat-card>


        <mat-card>
          <mat-form-field>
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [min]="MIN_DATE" [max]="MAX_DATE" [rangePicker]="picker">
              <input readonly
                     [(ngModel)]="fromDate"
                     matStartDate
                     placeholder="From date">
              <input readonly [(ngModel)]="toDate" matEndDate placeholder="To date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker touchUi #picker></mat-date-range-picker>
          </mat-form-field>

          <button mat-raised-button color="primary" (click)="this.loadDataAndInit()">Filter</button>
        </mat-card>
      </div>
    </mat-drawer>

    <mat-drawer-content>
      <button class="menu-button" *ngIf="!drawer.opened" color="primary" mat-mini-fab (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="chart-container" *ngIf="groupedStats.size > 0; else no_data_text">
        <canvas baseChart
                [datasets]="chartData"
                [labels]="chartLabels"
                [chartType]="'line'"
                [options]="chartOptions"
        ></canvas>
      </div>
      <ng-template #no_data_text>
        <div class="no-data-text">
          <h1>Oooopss... no data was found for the selected range!</h1>
          <p>You can't use filters without any data, so go try another range!</p>
        </div>
      </ng-template>
    </mat-drawer-content>
  </mat-drawer-container>
</ng-template>
