<mat-card>
  <mat-form-field>
    <mat-label>{{'date-selection.label' | translate}}</mat-label>
    <mat-date-range-input [max]="MAX_DATE" [min]="MIN_DATE" [rangePicker]="picker">
      <input [(ngModel)]="fromDate" matStartDate placeholder="From date" readonly>
      <input [(ngModel)]="toDate" matEndDate placeholder="To date" readonly>
    </mat-date-range-input>
    <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
    <mat-date-range-picker #picker touchUi></mat-date-range-picker>
  </mat-form-field>

  <button (click)="onChange()"
          *ngIf="toDate && fromDate"
          color="primary"
          mat-raised-button>
    {{'date-selection.loadViewData' | translate}}
  </button>
</mat-card>
