<mat-card>
  <mat-form-field color="primary">
    <mat-label>
      {{'repo-selection.selectedRepos' | translate}} [ {{selectedRepos.length + ' / ' + allRepos.length}}]
    </mat-label>
    <mat-select
      #select
      (selectionChange)="onSelectionChange($event.value)"
      [(ngModel)]="selectedRepos"
      [multiple]="true">
      <mat-option>
        <ngx-mat-select-search
          ngModel
          (ngModelChange)="onSearch($event)"
          [noEntriesFoundLabel]="'repo-selection.noEntriesFoundLabel'|translate"
          [placeholderLabel]="'repo-selection.placeholderLabel'|translate"
        ></ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let repo of filteredRepos" [value]="repo">{{repo}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button
    (click)="selection('selectAll')"
    [disabled]="allRepos?.length === selectedRepos.length"
    color="primary"
    mat-raised-button>
    {{'repo-selection.selectAll' | translate}}
  </button>

  <button
    (click)="selection('deselectAll')"
    [disabled]="selectedRepos.length === 0"
    color="primary"
    mat-raised-button>
    {{'repo-selection.deselectAll' | translate}}
  </button>
</mat-card>
