/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0;
}

.sidebar * mat-card {
  margin-bottom: 10px;
}

mat-form-field, button, mat-button-toggle-group, mat-button-toggle {
  width: 100%;
}
